@media screen and (max-width: 776px){
        header .container{
            display: flex;
            flex-direction:column
        }

        .botao{
            margin-top: 5px;
            width:300px;
        }

}

@media screen and (min-width:1000px){
    .descricao{
    width: 50%;
    margin-bottom: 300px;
    }
    
    .botao{
        margin-bottom: 50px;
    }
    
}